@tailwind base;
@tailwind components;
@tailwind utilities;

#root {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.game-board {
  background-image: url('/src/assets/img/bg.jpg');
  background-position: center;
  background-size: cover;
  place-items: center;
  border-radius: 0.5em;
}

.game-card {
  cursor: pointer;
  background-color: transparent;
  width: min(14vw, 16vh);
  aspect-ratio: 4/5;
  perspective: 1000px;
  opacity: 1;
  transition: opacity 700ms;
}

.inner {
  position: relative;
  width: 100%;
  height: 100%;
  transition: transform 0.75s;
  transform-style: preserve-3d;
}

.front,
.back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}
.front {
  background-color: #bbb;
}
.back {
  transform: rotateY(180deg);
}
.turned {
  transform: rotateY(180deg);
}

.game-card img {
  width: min(14vw, 16vh);
  aspect-ratio: 4/5;
  border: solid 2px white;
}

.game-card,
.inner,
.outer,
.front,
.back,
.game-card img {
  border-radius: 0.6em;
}

.removed {
  opacity: 0;
  cursor: default;
}

.game-over-screen {
  padding: 3em;
  border-radius: 2em;
}
