@tailwind base;
@tailwind components;
@tailwind utilities;

#root {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.bg-nav-btn {
  background-color: hsl(210, 20%, 20%);
}

@media (prefers-color-scheme: dark) {
  .bg-nav-btn {
    background-color: hsl(210, 5%, 8%);
  }
}

.game-board {
  background-image: url('/src/assets/img/bg.jpg');
  background-position: center;
  background-size: cover;
  place-items: center;
  border-radius: 0.5em;
}

.game-card {
  cursor: pointer;
  background-color: transparent;
  width: min(14vw, 16vh);
  aspect-ratio: 4/5;
  min-height: 80px;
  min-width: 64px;
  perspective: 1000px;
  opacity: 1;
  transition: opacity 900ms;
}

.inner {
  position: relative;
  width: 100%;
  height: 100%;
  transition: transform 0.75s;
  transform-style: preserve-3d;
}

.front,
.back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.back {
  transform: rotateY(180deg);
}
.turned {
  transform: rotateY(180deg);
}

.game-card img {
  width: min(14vw, 16vh);
  aspect-ratio: 4/5;
  min-height: 80px;
  min-width: 64px;
  border: solid 2px hsl(0, 0%, 75%);
}

.game-card,
.inner,
.outer,
.front,
.back,
.game-card img {
  border-radius: 0.6em;
}

.removed {
  opacity: 0;
  cursor: default;
}

.game-over-screen {
  padding: 3em;
  border-radius: 2em;
}

.loading-spinner-container {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 5000;
  display: flex;
  justify-content: center;
  align-items: center;
}

.loading-spinner {
  width: 64px;
  height: 64px;
  border: 8px solid;
  border-color: hsl(210, 10%, 25%) transparent hsl(210, 10%, 25%) transparent;
  border-radius: 50%;
  animation: spin 1.2s linear infinite;
}
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
